<!doctype html>
<html lang="en">
  <head>
    <title>CtMaster - Seu centro de treinamento de jiu-jitsu mais popular de Rio Grande do Piauí</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>

  <body>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="logomarca.jpg" alt="Logo" height="60" width="60" class="me-2">
          <span class="fs-1 fw-bold text-dark">CtMaster</span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
          <li><a href="/relevantes" class="nav-link px-2 link-body-emphasis">Relevantes</a></li>
          {{!-- <li><a href="/aulas" class="nav-link px-2 link-body-emphasis">Aulas</a></li>
          <li><a href="/produtos" class="nav-link px-2 link-body-emphasis">Produtos</a></li> --}}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post" action="/search/homepage">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="link-body-emphasis d-inline-block me-2 text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
            </span>
          </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="/publicar">Novo conteúdo...</a></li>
            <li><a class="dropdown-item" href="/editar/perfil">Editar perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sair da conta</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{{body}}}
    <br><br>
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/contato" class="nav-link px-2 text-body-secondary">Contato</a></li>
          <li class="nav-item"><a href="/faqs" class="nav-link px-2 text-body-secondary">FAQ</a></li>
          <li class="nav-item"><a href="https://github.com/ZeroAspect/ctmaster" class="nav-link px-2 text-body-secondary">Github</a></li>
          <li class="nav-item"><a href="/museu" class="nav-link px-2 text-body-secondary">Museu</a></li>
          <li class="nav-item"><a href="/sobre" class="nav-link px-2 text-body-secondary">Sobre</a></li>
          <li class="nav-item"><a href="/termos-de-uso" class="nav-link px-2 text-body-secondary">Termos de Uso</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2024 J.Cipriano</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>
