<div class="container">
  <div class="container">
    <small>
      Caso queira entrar em contato conosco, você poderá entrar em contato usando nosso <strong><em>e-mail</em></strong>, ou fazendo issues pelo nosso <strong><em>Github</em></strong>, ou tambem entre em contato pelo nosso <strong><em>Desenvolvedor</em></strong>.
    </small>
    <br>
    <br>
    <small>
      Todas os contatos estão aqui:
      <ul>
        <li>
          <a href="mailto:contato@ctmaster.com.br">E-mail</a>
        </li>
        <li>
          <a href="https://github.com/ZeroAspect/ctmaster">Github</a>
        </li>
        <li>
          <a href="https://instagram.com/oazez_080">Instagram</a>
        </li>
      </ul>
    </small>
  </div>
</div>