<div class="container">
  <small class="text-muted mb-2">
    <small>
      Saudações, somos do Centro de Treinamento de Jiu-Jitsu Masters, localizado na cidade de Rio Grande do Piauí, na praça central. Nossa escola tem como objetivo ensinar os alunos não apenas no âmbito esportivo, mas também a formá-los como cidadãos de bem e crianças disciplinadas. O jiu-jitsu não apenas contribui para a defesa pessoal, mas também melhora o rendimento escolar dos praticantes.
      <br>
      Além disso, buscamos ampliar o acesso ao jiu-jitsu para o maior número possível de crianças e adolescentes, incluindo aqueles que se encontram em situação de vulnerabilidade e não têm condições financeiras para arcar com as aulas. Nosso compromisso é promover a inclusão social através do esporte.
    </small>
  </small>

</div>