<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="/logomarca.jpg" alt="Card image cap" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Você foi Deslogado da sua conta.</h5>
        <p class="card-text">Sua sessão expirou ou você se deslogou.</p>
        <a href="/" class="btn btn-primary">Voltar à Página Principal</a>
      </div>
    </div>
  </div>
</div>