<div class="container">
  <h2 class="text-center">
    Museu
  </h2>
  <p class="text-center">
    Saudações, estamos neste momento tentando criar um expaço mais <strong>acolhedor</strong> na insternet, expondo dados oncretos sobre <strong>jiu-jitsu</strong>, expondo <strong>golpes livres</strong>, como <strong>arm-lock</strong>, como realmente <strong>treinar um atleta</strong>, e deixá-lo preparado para um <strong>campeonato</strong>. Saiba como aprender sobre defesa pessoal aqui, neste <strong>website</strong>.
  </p>
  <hr>

  <div class="d-flex align-items-center justify-content-cent">
    <img src="/ezequiel.jpg" width="200px" height="200px" title="contabilista - Ezequiel" class="img-fluid rounded-circle" alt="">
    <img src="/dhominick.jpg" width="200px" height="200px" title="Principal aluna - dhominick" class="img-fluid rounded-circle" alt="">
  </div>
</div>