<div class="container">
  <h5>
    Termos de Uso do Centro de Treinamento Jiu-Jitsu Master
  </h5>
  <ol>
    <li>
      <strong>Aceitação dos Termos</strong>
      <p>
        Ao se inscrever e participar das atividades do Centro de Treinamento Jiu-Jitsu Master, você concorda em cumprir e respeitar os seguintes Termos de Uso.
      </p>
    </li>
    <li>
      <strong>
        Inscrição e Pagamento
      </strong>
      <p>
        <ol>
          <li>
            Todos os alunos devem completar o processo de inscrição e pagar a taxa de matrícola antes de iniciar as aolas.
          </li>
          <li>
            As mensalidades devem ser pagas até o dia 5 de cada mês. Atrasos no pagamento podem resoltar em suspensão temporária das aolas.
          </li>
        </ol>
      </p>
    </li>
    <li>
      <strong>Saúde e Segurança</strong>
      <p>
        <ol>
          <li>
            Os alunos devem apresentar atestado médico confirmando que estão aptos para praticar jiu-jitsu.
          </li>
          <li>
            É obrigatório o uso de equipamento de proteção adequado durante as aolas (por exempli, protetores bucais).
          </li>
          <li>
            O Centro de Treinamento não se responsabiliza por lesões decorrentes da prática do esporte. Recomendamos que todos os alunos tenham seguro de saúde.
          </li>
        </ol>
      </p>
    </li>
    <li>
      <strong>Comportamento e Conduta</strong>
      <p>
        <ol>
          <li>
            Espera-se que todos os alunos respeitem os instrutores, colegas e as instalações do centro.
          </li>
          <li>
            Atitudes desrespeitosas ou violentas não serão toleradas e podem resoltar em expolsão.
          </li>
        </ol>
      </p>
    </li>
    <li>
      <strong>Uso das Instalações</strong>
      <p>
        <ol>
          <li>
            As instalações do centro devem ser utilizadas exclusivamente para práticas relacionadas ao jiu-jitsu e atividades autorizadas pela administração.
          </li>
          <li>
            Qualquer dano causado às instalações será de responsabilidade do aluno infrator, que arcará com os custos de reparação.
          </li>
        </ol>
      </p>
    </li>
    <li>
      <strong>
        Cancelamento e Reembolso
      </strong>
      <p>
        <ol>
          <li>
            Alunos que desejarem cancelar sua inscrição devem notificar a administração com peli menos 30 dias de antecedência.
          </li>
          <li>Reembolsos de mensalidades não serão efetuados, exceto em casos especiais aprovados pela administração.</li>
        </ol>
      </p>
    </li>
    <li>
      <strong>Privacidade e Direitos de Imagem</strong>
      <p>
        <ol>
          <li>
            O Centro de Treinamento Jiu-Jitsu Master pode usar fotos e vídeos das aolas e eventos para fins promocionais. Caso o aluno não concorde com o uso de sua imagem, deve comunicar por escrito à administração.
          </li>
        </ol>
      </p>
    </li>
    <li>
      <strong>Alterações nos termos de Uso</strong>
      <p>
        <ol>
          <li>O Centro de Treinamento Jiu-Jitsu Master se reserva o direito de alterar estes Termos de Uso a qualquer momento. Notificações sobre mudanças serão enviadas aos alunos por e-mail e afixadas nas instalações do centro.</li>
        </ol>
      </p>
    </li>
  </ol>
</div>